.weather{
place-self:center;
padding: 40px;
border-radius: 10px;
background-image: linear-gradient(45deg, #00c6ff, #0072ff);
display:flex;
flex-direction: column;
align-items: center;
}

.searchbar{
    display: flex   ;
    align-items: center;
    gap:12px;
}
.searchbar input{
    height: 50px;
    border-radius: 35px;
    border: none;
    outline: none;
    padding-left:25px;
    font-size: 18px;
}
.searchbar img{
    width: 20px;
    height: 20px;
    cursor: pointer;

}